<a href="https://colab.research.google.com/github/wendyseal/pandas_practice/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 載入資料, 建立DataFrame
為了印出漂亮表格,顯示限定行數與列數<br/>
pd.set_option('display.max_rows',列數)<br/>
pd.set_option('display.max_columns',行數)<br/>

https://blog.csdn.net/starter_____/article/details/79184196
.value_counts()
.unique()

In [ ]:
import pandas as pd
pd.set_option('display.max_rows',6)
pd.set_option('display.max_columns',6)
df=pd.read_excel("0820result.xlsx", encoding = "utf-8")
df

,時間戳記,性別,年齡,...,10.平均一天花多少時間在手機遊戲、社群軟體(eg : FB、IG)上？(不包含傳遞訊息、溝通聊天),11.收到禮物中，最讓你喜歡/感動的禮物為何?,12.若您為收禮者，最希望收到哪一種風格的禮物呢？
0,2020-08-11 17:59:36.494,男,(B)25-29歲,...,(C) 1小時到3小時,(A)剛好需要的產品,(C)實用物件
1,2020-08-12 16:27:23.617,女,(B)25-29歲,...,(C)1小時到3小時,(A)剛好需要的產品,(C)實用物件
2,2020-08-12 16:27:24.883,女,(B)25-29歲,...,(C)1小時到3小時,(A)剛好需要的產品,(D)獨特小物
...,...,...,...,...,...,...,...
52,2020-08-19 16:29:18.797,男,(B)25-29歲,...,(C)1小時到3小時,(A)剛好需要的產品,(C)實用物件
53,2020-08-19 16:36:28.322,男,(A)22-24歲,...,(C)1小時到3小時,(C)有紀念價值的禮物,(C)實用物件
54,2020-08-19 19:34:32.515,女,(C)30-35歲,...,(C)1小時到3小時,(A)剛好需要的產品,(A)流行時尚

# 查看DataFrame大小: df.shape
二維用df.shape<br/>
傳回tuple:(列數,行數)

In [ ]:
df.shape

(55, 17)

# 行篩選df[["column1","column2","column3"]]
多行篩選時，外面的[]是DataFrame的行操作，裡面的[]是把標籤集合起來的list

In [ ]:
df["comments"]

In [ ]:
df[["comments","description","url"]]

# 列篩選df.iloc[座號] 或df.loc["列標籤"]

In [ ]:
#取第10,11,12,13,14 共5筆資料
df.iloc[10:15]

# 頭尾列篩選 df.head(數字) df.tail(數字)
df.head(5):頭5列篩選<br/>
df.tail(5):尾5列

In [ ]:
df.head(5)

In [ ]:
df.tail(5)

# 行列篩選: ["列標籤"]與.iloc[:] 的組合~
順序誰先誰後都可以

In [ ]:
#取前五列
df[["comments","description","url"]].iloc[:5]

,comments,description,url
0,4553,Sir Ken Robinson makes an entertaining and pro...,https://www.ted.com/talks/ken_robinson_says_sc...
1,265,With the same humor and humanity he exuded in ...,https://www.ted.com/talks/al_gore_on_averting_...
2,124,New York Times columnist David Pogue takes aim...,https://www.ted.com/talks/david_pogue_says_sim...
3,200,"In an emotionally charged talk, MacArthur-winn...",https://www.ted.com/talks/majora_carter_s_tale...
4,593,You've never seen data presented like this. Wi...,https://www.ted.com/talks/hans_rosling_shows_t...

In [ ]:
#列取最後五筆
df.iloc[2545:][["comments","description","url"]]

,comments,description,url
2545,17,"Between 2008 and 2016, the United States depor...",https://www.ted.com/talks/duarte_geraldino_wha...
2546,6,How can you study Mars without a spaceship? He...,https://www.ted.com/talks/armando_azua_bustos_...
2547,10,Science fiction visions of the future show us ...,https://www.ted.com/talks/radhika_nagpal_what_...
2548,32,In an unmissable talk about race and politics ...,https://www.ted.com/talks/theo_e_j_wilson_a_bl...
2549,8,With more than half of the world population li...,https://www.ted.com/talks/karoliina_korppoo_ho...

In [ ]:
#取前三列
df_small=df.iloc[:3]
df_small[[True,True,True]]

,comments,description,duration,...,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,...,Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,...,Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,...,Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292

# 列過濾(過濾資料)
**概念:**<br/>
做一個跟資料筆數一樣大的布林list<br/>
對到True的留下，對到False的丟掉<br/>
作法: df[[布林list]]<br/>
**實作:**<br/>
因為資料量太大,不可能自己創布林list，<br/>
因此藉由pandas函式幫忙，創造一個布林list：<br/>
bool_filter= **df["欄位"].str.contains("Sir")**

In [ ]:
bool_filter= df["description"].str.contains("Sir")
bool_filter

In [ ]:
#帶入DataFrame
df[bool_filter]

上述寫法，即使資料為"Sirena"也會被抓進來。<br/>
今天若只想要完全符合"Sir"的資料，需要透過**正規表示式**改寫<br/>
**\b**:匹配單詞為開頭與結束<br/>
注意:格式字串前需要加上<br/>
**r**:不轉換任何東西 呈現原始字串<br/>

In [ ]:
bool_filter= df["description"].str.contains(r"\bSir\b")
df_filter = df[bool_filter]
df_filter

,comments,description,duration,...,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,...,Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
54,203,"Speaking as both an astronomer and ""a concerne...",1046,...,Is this our final century?,https://www.ted.com/talks/martin_rees_asks_is_...,2121177
692,1234,"In this poignant, funny follow-up to his fable...",1008,...,Bring on the learning revolution!,https://www.ted.com/talks/sir_ken_robinson_bri...,7266316
833,473,"In this talk from RSA Animate, Sir Ken Robinso...",700,...,Changing education paradigms,https://www.ted.com/talks/ken_robinson_changin...,1854997
1502,634,Sir Ken Robinson outlines 3 principles crucial...,1151,...,How to escape education's death valley,https://www.ted.com/talks/ken_robinson_how_to_...,6657858
1802,59,Sir Tim Berners-Lee invented the World Wide We...,403,...,A Magna Carta for the web,https://www.ted.com/talks/tim_berners_lee_a_ma...,1054600

# 儲存表格：to_csv
必要參數:檔案路徑<br/>
選用參數:encoding<br/>
選用參數:index-pd產生的列編號要不要寫入 (可以選False)

In [ ]:
df_filter.to_csv("filter.csv", encoding="utf-8", index=False)

# 讀取表格：pd.read_csv

In [ ]:
pd.read_csv("filter.csv", encoding="utf-8")

# 刪除行
刪除單行(立即刪掉): del df['title']<br/>
刪除多行(需要另存): df.drop(["url","views"],axis=1)

In [ ]:
del df['description']
df

In [ ]:
df_drop=df.drop(["url","views"],axis=1)
df_drop

# 自定義過濾流程，再使用series.apply(function)

In [ ]:
#element是每一格的資料
#利用eval把字串當成python程式執行,變成Lㄔㄛ
def tag_filter(element):
  tag_list=eval(element)
  if 'children' in tag_list:
    return True
  else:
    return False

#自定義作出的bool list
bool_filter=df["tags"].apply(tag_filter)
bool_filter

In [ ]:
#丟回進行過濾
df[bool_filter][["tags","url"]]

,tags,url
0,"['children', 'creativity', 'culture', 'dance',...",https://www.ted.com/talks/ken_robinson_says_sc...
54,"['astronomy', 'climate change', 'complexity', ...",https://www.ted.com/talks/martin_rees_asks_is_...
692,"['TED Brain Trust', 'children', 'creativity', ...",https://www.ted.com/talks/sir_ken_robinson_bri...
833,"['TED Brain Trust', 'business', 'children', 'd...",https://www.ted.com/talks/ken_robinson_changin...
1502,"['culture', 'education', 'student', 'teaching'...",https://www.ted.com/talks/ken_robinson_how_to_...
1802,"['Internet', 'global issues', 'open-source', '...",https://www.ted.com/talks/tim_berners_lee_a_ma...

設定更多參數

In [ ]:
def tag_filter(element, filter_tag):
  tag_list=eval(element)
  if filter_tag in tag_list:
    return True
  else:
    return False

In [ ]:
bool_filter=df["tags"].apply(tag_filter,filter_tag="Asia")
bool_filter

0       False
1       False
2       False
        ...
2547    False
2548    False
2549    False
Name: tags, Length: 2550, dtype: bool

In [ ]:
df[bool_filter][["url","tags"]]

,url,tags
4,https://www.ted.com/talks/hans_rosling_shows_t...,"['Africa', 'Asia', 'Google', 'demo', 'economic..."
117,https://www.ted.com/talks/hans_rosling_reveals...,"['Africa', 'Asia', 'Google', 'economics', 'glo..."
359,https://www.ted.com/talks/jennifer_8_lee_looks...,"['Asia', 'business', 'culture', 'exploration',..."
...,...,...
1621,https://www.ted.com/talks/dambisa_moyo_is_chin...,"['Africa', 'Asia', 'china', 'democracy', 'econ..."
1948,https://www.ted.com/talks/kevin_rudd_are_china...,"['Asia', 'United States', 'china', 'politics']"
2310,https://www.ted.com/talks/ian_bremmer_how_the_...,"['Africa', 'Asia', 'Europe', 'Foreign Policy',..."